* {
  box-sizing: border-box;
}
html, body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.page {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.masthead {
  width: 100%;
  height: 65px;
  background: rgba(70,70,70,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.logo {
  width: 58px;
  height: 45px;
  background: url("../images/v12_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 114px;
  overflow: hidden;
}
.mastheadText {
  width: 279px;
  position: absolute;
  top: 16px;
  left: 190px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.tab {
  overflow: hidden;
  background-color: rgba(70,70,70,1);
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.v20_2 {
  width: 188px;
  height: 68px;
  background: rgba(70,70,70,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 106px;
  overflow: hidden;
}
.v20_4 {
  width: 257px;
  height: 68px;
  background: rgba(107,107,107,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 294px;
  overflow: hidden;
}
.v20_5 {
  width: 222px;
  height: 68px;
  background: rgba(107,107,107,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 551px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.tab_text {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 160px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
  
.tabs_CompleteBuilds {
  width: 225px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 361px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.tabs_SearchParts {
  width: 145px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 614px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.tabs_ARBuilder {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 160px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_16 {
  width: 41px;
  height: 48px;
  opacity: 1;
  background: url("../images/v5_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  overflow: hidden;
}
.v7_3 {
  width: 44px;
  height: 49px;
  background: url("../images/v7_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.v9_8 {
  width: 35px;
  height: 46px;
  background: url("../images/v9_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v16_14 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 254px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_19 {
  width: 89px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 277px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_44 {
  width: 58px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 316px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_50 {
  width: 74px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 430px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_52 {
  width: 89px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 469px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_46 {
  width: 74px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 354px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_48 {
  width: 62px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 393px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_54 {
  width: 95px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 502px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_56 {
  width: 62px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 541px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_58 {
  width: 68px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 655px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_60 {
  width: 68px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 694px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v17_66 {
  width: 102px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 733px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_67 {
  width: 102px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 772px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_62 {
  width: 44px;
  color: rgba(0,71,255,1);
  position: absolute;
  top: 579px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v16_15 {
  width: 27px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 254px;
  left: 350px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v16_16 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 254px;
  left: 535px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_17 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 254px;
  left: 271px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_119 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 815px;
  left: 220px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_121 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 815px;
  left: 271px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_68 {
  width: 158px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_71 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 283px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_74 {
  width: 113px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 317px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_75 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 321px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_80 {
  width: 128px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 356px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_81 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 360px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_82 {
  width: 113px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_83 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 398px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_96 {
  width: 130px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 431px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_97 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 435px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_98 {
  width: 155px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 470px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_99 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 474px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_100 {
  width: 155px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 507px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_101 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 511px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_102 {
  width: 133px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_103 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 546px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_104 {
  width: 107px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 579px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_105 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 583px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_106 {
  width: 133px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 619px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_107 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 623px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_108 {
  width: 125px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_109 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 661px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_110 {
  width: 125px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 695px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_111 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 699px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_112 {
  width: 98px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 733px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_113 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 737px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_114 {
  width: 163px;
  height: 24px;
  background: rgba(89,0,0,1);
  opacity: 1;
  position: absolute;
  top: 774px;
  left: 350px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v17_115 {
  width: 156px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 778px;
  left: 357px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
